@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Our default values set as CSS variables */
:root {
    --color-bg: #fff;
    --color-text-main: #000;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-margin: 3rem;
    --font-mono-family: "Space Mono";
    --font-size: 12px;
    --line-height: 24px;
    --box-size: 20px;
    --border: 1px solid #eee;
    --shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    --color-a: #eee;
    --color-b: #999;
    --color-c: #222;
    --color-d: #444;
    --color-dark: #444;
}

body {
    font-family: var(--font-mono-family);
    background-color: var(--color-bg);
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    margin: var(--box-size);
}

.row {
    display: flex;
}

.row.reverse {
    flex-direction: row-reverse;
}

.container.borderless:before {
    border-color: var(--color-bg);
}

.col {
    display: flex;
    flex-direction: column;
}

.col.reverse {
    flex-direction: column-reverse;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    cursor: pointer;
}

.box.a {
    background: var(--color-a);
}

.box.b {
    background: var(--color-b);
}

.box.c {
    background: var(--color-c);
}

.box.d {
    background: var(--color-d);
}

.dots .box {
    border: var(--border);
    background: var(--color-bg);
}

.dots .box.x {
    position: relative;
}

.dots .box.x:after {
    content: "";
    position: absolute;
    left: 8%;
    top: 8%;
    width: 84%;
    height: 84%;
    background: var(--color-dark);
    border-radius: var(--box-size);
    pointer-events: none;
}

.sticky {
    position: -webkit-sticky !important;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.tp-dfwv {
    position: fixed !important;
    bottom: 8px !important;
    top: unset !important;
    z-index: 100;
}

#threading {
    margin-right: calc(var(--box-size)/2);
    display: flex;
    flex-direction: column-reverse;
    box-shadow: var(--shadow);
}

#treadling {
    margin-right: calc(var(--box-size)/2);
}

#tieup {
    display: flex;
    align-items: start;
    box-shadow: var(--shadow);
}

#drawdown {
    border-color: var(--color-bg);
    margin-right: calc(var(--box-size)/2);
    margin-bottom: 10vh;
}

#drawdown .box {
    border-color: transparent;
    /* var(--color-bg); */
}

#canvas>.row {
    margin-bottom: calc(var(--box-size)/2);
}

#colorWarps {
    line-height: 0;
}

#colorWarps .row {
    justify-content: flex-end;
    line-height: 0;
}

#colorWarps .box,
#colorWefts .box {
    border-color: var(--color-bg);
}

#checklist {
    margin-left: calc(var(--box-size)/2);
}

#checklist .box {
    /* overflow: hidden; */
    /* background: rgba(0,0,0,.15); */
    /* border-color: #eee; */
    /* rgba(0,0,0,.1); */
}

/* #checklist .box.x {
  background: rgba(0,0,0,.8);
  border-color: var(--color-bg);
  border-radius: 20px;
} */
